---
import Base from '../layouts/Base.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Numbers from '../components/Numbers.astro';
import Sponsors from '../components/Sponsors.astro';
import About from '../components/About.astro';
import Facilities from '../components/Facilities.astro';
import Specs from '../components/Specs.astro';
import Pricing from '../components/Pricing.astro';
import Gallery from '../components/Gallery.astro';
import Location from '../components/Location.astro';
import Testimonials from '../components/Testimonials.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import CookieBanner from '../components/CookieBanner.astro';
---
<Base>
  <Nav />
  <main>
    <Hero />
    <Numbers />
    <Sponsors />
    <About />
    <Facilities />
    <Specs />
    <Pricing />
    <Gallery />
    <Location />
    <Testimonials />
    <Contact />
  </main>
  <Footer />
  <CookieBanner />
</Base>
