---
---
<div class="numbers-strip" aria-label="Key stats">
  <div class="num-item"><div class="num-big">850</div><div class="num-sub">SQM Total Area</div></div>
  <div class="num-item"><div class="num-big">13</div><div class="num-sub">Bedrooms</div></div>
  <div class="num-item"><div class="num-big">11</div><div class="num-sub">Bathrooms</div></div>
  <div class="num-item"><div class="num-big">20</div><div class="num-sub">Gaming PCs</div></div>
  <div class="num-item"><div class="num-big">360<span style="font-size:24px">Hz</span></div><div class="num-sub">Monitor Refresh</div></div>
  <div class="num-item"><div class="num-big">2</div><div class="num-sub">Training Rooms</div></div>
</div>
