---
const logos = [
  { src: '/logos/secretlab.png', alt: 'Secret Lab' },
  { src: '/logos/scan3xs.png',   alt: 'Scan 3XS' },
  { src: '/logos/melbet.png',    alt: 'Melbet' },
  { src: '/logos/socios.svg',    alt: 'Socios' },
];
---
<div class="sponsors-wrap" aria-hidden="true">
  <div class="sponsors-track">
    {[...logos, ...logos, ...logos, ...logos, ...logos, ...logos].map(l => (
      <div class="sponsor-logo-item">
        <img src={l.src} alt={l.alt} height="36" />
      </div>
    ))}
  </div>
</div>
